# Secrets
.env
*.env

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Xcode
xcuserdata/
*.xcuserstate
DerivedData/
build/
*.xcscmblueprint
*.xccheckout
.DS_Store

# SwiftPM
.swiftpm/
.build/

# Misc
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
